* {
    font-family: "JetBrains Mono";
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
}

body {
    background-color: #fcfcfc;
    font-size: 50px;
    color: #303030;
}

img {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    height: 75px;
    width: 75px;
    right:0;
    top:0;
    position: fixed;
}

embed {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    border-radius: 10px;
    border-color: #303030;
}

input {
    background-color: #eeeeee;
    color: #303030;
    font-size: 20px;
    width: 50%;
    border-radius: 10px;
    border-color: #303030;
    caret-color: transparent;
    text-indent: 5%;
}

::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

.dark {
    background-color: #303030;
    color: #eeeeee;
}