body {
    background-color: #fcfcfc;
    font-size: 50px;
    font-family: "JetBrains Mono";
    color: #303030;
    margin: 10%;
}

img {
    float: right;
    height: 8%;
    width: 8%;
}

input {
    background-color: #eeeeee;
    font-size: 20px;
    font-family: "JetBrains Mono";
    color: #303030;
    width: 50%;
    border-radius: 10px;
    border-color: #303030;
    caret-color: transparent;
    text-indent: 5%;
}

.dark {
    background-color: #303030;
    color: #eeeeee;
}