* {
    font-family: "JetBrains Mono";
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    /*overflow: hidden;*/
}

body {
    background-color: #fcfcfc;
    font-size: 50px;
    color: #303030;
}

img {
    float: right;
    float: right;
    height: 8%;
    width: 8%;
}

input {
    background-color: #eeeeee;
    font-size: 20px;
    font-family: "JetBrains Mono";
    color: #303030;
    width: 50%;
    border-radius: 10px;
    border-color: #303030;
    caret-color: transparent;
    text-indent: 5%;
}

embed {
    width: 80%;
    border-radius: 15px;
    border-color: #303030;
}

.dark {
    background-color: #303030;
    color: #eeeeee;
}